<div class="view-box">
    <div class="directives">
        <h4>Please select the customer who's addresses you would like to view:</h4>
        <select ng-model="currentUser" ng-change="getAddresses()" ng-options="user.id as user.name for user in users track by user.id"></select>
    </div>

    <div class="boxes">
        <div class="client-box" ng-repeat="user in addresses">
            <p>Address Name: {{user.address_type}} <br>
            {{user.address_street}} <br>
            {{user.address_city}}, {{user.address_state}} {{user.address_zip}} <br></p>
        </div>
    </div>
</div>
