<div class="view-box">
    <div class="directives">
        <h4>Please select the range of dates you would like to view orders for:</h4>
        Start date: <input type="date" ng-model="earlyDate">     End date: <input type="date" ng-model="lateDate"><br>

        <h4>Please select the customer who's orders you would like to view:</h4>
        <select ng-model="currentUser" ng-change="getOrders()" ng-options="user.id as user.name for user in users track by user.id"></select>

        <br><br>

        <button type="submit" ng-click="getOrders()">Update</button>
    </div>

    <h3>{{userName}}</h3>

    <div class="boxes">
        <div class="client-box" ng-repeat="order in orders">
            <p>Order Number: {{order.other.order_id}}</p>
            <p>Ship Address:<br> {{order.other.address_street}}<br>{{order.other.address_city}}, {{order.other.address_state}}</p>
            <p>Order Date: {{order.date}}</p>
            <p>Order Total: ${{order.amount}}</p>
        </div>
        <div class="user-total"><h2>{{totalMessage}}<span class="total">{{totalSpent}}</span></h2></div>
    </div>

</div>

