<p>{{message}}</p>


<!--<form name="names">-->
    <!--<label>Choose a user:</label>-->
    <!--<select ng-options="user.id as user.name for user in users track by user.id" ng-model="users.selectedOption">-->

        <!--&lt;!&ndash;<select>&ndash;&gt;-->
            <!--&lt;!&ndash;<option ng-repeat="user in users" value="{{user.name}}">{{user.name}}</option>&ndash;&gt;-->
        <!--</select>-->
    <!--<p>{{users.selectedOption}}</p>-->
<!--</form>-->

<select ng-model="currentUser" ng-change="getAddresses()" ng-options="user.id as user.name for user in users track by user.id"></select>

<p ng-repeat="user in addresses">Address Name: {{user.address_type}} <br>
    {{user.address_street}} <br>
    {{user.address_city}}, {{user.address_state}} {{user.address_zip}} <br>
</p>